<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014775196071-g2h4o57pdaj71con0mpgnrod2b0a4prs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014775196071-g2h4o57pdaj71con0mpgnrod2b0a4prs</string>
	<key>API_KEY</key>
	<string>AIzaSyDc6nFRX8OMSdx9yVctBhz5Ak3Ic2mIAy8</string>
	<key>GCM_SENDER_ID</key>
	<string>1014775196071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-ec623</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-ec623.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014775196071:ios:fab1d1ac59737bbfd52e82</string>
</dict>
</plist>